$main-bg-color: #2f2f2f;
$main-text-color: #eae0cc;
$glass-bg: #00000099;
$glass-bg-color: #b4a6ab6b;
$glass-bg-active: #ddf8e850;
$accent-color-one: #ddf8e8;
$accent-color-two: #b4a6ab;
$global-border-radius: 12px;